# tabular data files
*.csv
*.txt
!*requirements.txt
# geospatial data files
*.gpkg
*.dbf
*.prj
*.shp
*.shx
*.qpj
# gridded data products
*.nc
*.grib
*.idx
*.tif
# packages
*.zip
# model saving
*.pth
*.json
# python related files
__pycache__
*.egg-info
*venv
.python-version
*.ipynb_checkpoints
lstm-counterfactual-postprocessing-env
lstm-counterfactual-postprocessing-py-3-10-11
# environment files
*.env
# figures
*.pdf
*.png
*.pptx
